.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 50px;
    box-shadow: 0 1px 3px -2px black;
    background-color: white;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo .logo {
    width: 50px; 
    height: auto;
}

.nav-logo p {
    color: #171717;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 40px;
    padding: 0;
}

.nav-menu li {
    color: #626262;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-menu li:hover {
    color: black;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-btn {
        width: 157px;
        height: 58px;
        outline: none;
        border: 1px solid #7a7a7a;
        border-radius: 75px;
        color: #515151;
        font-size: 20px;
        font-weight: 500;
        background: white;
        cursor: pointer;
 
}


.cart-icon {
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.cart-icon:hover {
    transform: scale(1.1);
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}